<?xml version="1.0"?>
<launch>

  <arg name="robot_model"           default="hera_full"/>
  <arg name="map_name"              default="empty"/>
  <arg name="use_fake_localization" default="false"/>
  <arg name="global_planner"        default="navfn/NavfnROS"/>
  <arg name="local_planner"         default="eband_local_planner/EBandPlannerROS"/>

  <arg name="enable_description"    default="true"/>
  <arg name="enable_map"            default="true"/>
  <arg name="enable_localization"   default="true"/>
  <arg name="enable_navigation"     default="true"/>

  <!-- ##################################################################### -->

  <!-- load hera description -->
  <group if="$(arg enable_description)" >
    <include file="$(find hera_description)/launch/load_description.launch">
      <arg name="robot_model" default="$(arg robot_model)"/>
    </include>
  </group>

  <!-- load map -->
  <group if="$(arg enable_map)" >
    <node name="map_server" pkg="map_server" type="map_server" output="screen"
      args="$(find hera_bringup)/resources/map/$(arg map_name)/map.yaml"/>
    </group>

  <!-- localization -->
  <group if="$(arg enable_localization)" >
    <include file="$(find hera_nav)/launch/localization.xml">
      <arg name="use_fake_localization" default="$(arg use_fake_localization)"/>
    </include>
  </group>

  <!-- navigation -->
  <group if="$(arg enable_navigation)" >
    <include file="$(find hera_nav)/launch/navigation.xml">
      <arg name="global_planner" default="$(arg global_planner)"/>
      <arg name="local_planner"  default="$(arg local_planner)"/>
    </include>
  </group>

</launch>
